KAFKA_SASL_USERNAME=user
KAFKA_SASL_PASSWORD=pass
KAFKA_PARSED_DATA_TOPIC_NAME=fvh.something
KAFKA_BOOTSTRAP_SERVERS=kafka-xxx.aivencloud.com:12345
KAFKA_SECURITY_PROTOCOL=SASL_SSL
KAFKA_SASL_MECHANISMS=SCRAM-SHA-256
KAFKA_SSL_CA_LOCATION=ca.pem
LOG_LEVEL=DEBUG
DEBUG=1
FVHFEEDBACKMAP_API_URL=https://xxx/rest/map_data_points/
#SENTRY_DSN=
# Set these if you want to forward all new Feedbacks to another endpoint
# KAFKA_FORWARD_TOPIC_NAME=
# FORWARD_API_URL=https://...
